footer > div, header > nav, header > div, main { margin: 0 auto; max-width: 1800px; padding: 0 10px; display: block }
header > div { display: grid }
/* Layout of chart space */
main { display: flex; flex-direction: row; align-items: flex-start; justify-content: space-between; position: relative; min-height: 20em }
main section { flex: 0 1 70% }
main nav { flex: 0 1 28% }

/* Layout of charts */
main section section { display: none }
main section section.active { display: block }

/* Layout of filters etc */
main nav ul { padding:0; list-style: none }
main nav li { display: flex; flex-wrap: wrap; flex-direction: row; align-items: stretch }
main nav li > span { display: block; text-align: center; font-weight:bold; flex: 0 0 100% }
main nav label { text-align: center; flex: 1 1 30%; padding: 0.5em; display: none; cursor: pointer; box-sizing: border-box }
main nav label.active { display: block }
main nav label span { display: block; background-color: #eee; padding: 0.5em; font-size: 80% }
main nav label input:checked + span { background-color: #ccc; color: #000; }
main nav .input { position: relative }
main nav .input ul { position: absolute; margin-top: 0; left: 0; right: 0; top: 100%; background-color:#fff; cursor: pointer}
main nav .input ul li { padding: 2px; background-color: #ccc; border: 2px solid #fff; border-top: 0px; display: block }
main nav .input ul li:first-of-type { border-top: 2px solid #fff;}
main nav .input input { display: block; box-sizing: border-box; width:100%; padding: 2px; font-weight: bold; font-size: 1rem; }
main nav .narrow label { flex: 1 1 10%; }
main nav .half label { flex: 1 1 45%; }
main .input div { display: flex; flex-flow: row wrap; white-space: nowrap}
main .input div label { text-align: left; flex: 1 1 20%; font-weight: bold }
main .input div div { flex: 1 1 70%; position: relative }
main nav label input { display: none }
main section { position: relative }
main section > div { display: none }
main section > div.active { display: block }
h3 a { float: right; display: block; margin-left: 1em; padding: 5px 1em; background-color: #ccc; border-radius: 3px; font-size: 80% }
main section h3 { font-size: 1.4em }
main section h3 a { color: #000; }
main section h3 a:hover { background-color: #eee }
main section h3 a.active:hover,
main section h3 a.active { color: #fff; background-color: #000 }
main nav #point-size label { display: block }

main nav { margin-top: 3em }
main nav div div { display: none }
main nav div div.active { display: block }

/* Species navigation in header */
#species div > p:last-of-type { text-align: right }
#species div > p:last-of-type a { display: inline-block; text-decoration: none; padding: 0.5em; border-radius: 0.5em; background-color: #cfc; color: #000; font-weight: 700 }
header nav li a:hover, #species div > p:last-of-type a:hover { color: #666 }
#species div > p:last-of-type a:after { content: ' >' }
.graph-wrapper { width: 100%; height: 0; padding-bottom: 60%; position: relative }
.loading, .graph { position:absolute; height: 100%; width: 100%; }
.loading { opacity: 0.2; z-index: 20; background-color: #999; padding-top: 8rem; font-weight: bold; font-size: 2em; text-align: center; color: #000; box-sizing: border-box; overflow: hidden; }

.graph > * > *, .graph > * { position: absolute; width:100%;height:100%; top:0; left: 0 }

/* Colour legend stuff! */
nav .legend li { padding-left: 2em; display:none}
nav .legend li.active { display: block }
nav .legend li > span { display: inline-block; overflow: hidden; height:0.5em; width: 0.5em; border-radius: 0.25em; margin-right: 1em }

/* Colour gradient CSS */
.gradient { display:flex;flex-flow: row wrap; justify-content: space-between; }
.gradient span { flex: 0 0 2em; text-align: center }
.gradient > div { flex: 0 0 100%; padding: 0.25em 1em 0.25em; box-sizing: border-box; display: block }
.gradient div p   { height: 0.2em; padding: 0; margin: 0; background-image: linear-gradient(to right, #000 1%, #fff 1%, #fff 49.5%, #000 49.5%, #000 50.5%, #fff 50.5%, #fff 99%, #000 99%) }
.gradient div div { display: block; height: 1em; background-image: linear-gradient(to right, #440154, #472D7B 12.5%, #3B528B 25%, #2C728E 37.5%, #21908C 50%, #27AD81 62.5%, #5DC863 75%, #AADC32 87.5%, #FDE725); }

/* Information about genes on KNN view */
body .gene-table { display: block }
.gene-table dl { display: flex; flex-flow: row wrap; align-items: flex-start; font-size: 0.8em; justify-content: space-between }
.gene-table dl dt { flex: 0 0 45%; margin: 0 0 0.5em 0; font-weight: bold }
.gene-table dl dd { flex: 0 0 50%; margin: 0 0 0.5em 0 }

@media only screen and (max-width: 800px) {
  main { display: block }
}

#graph-nav { display: none }
#int  { display: flex; font-size: 150% }
#int p { margin: 0.5em 0; font-weight: bold; flex: 1 1 50%; text-align: center; line-height: 1.5em }
#int a { display: inline-block; background-color: #ccc; border-radius: 3px; padding: 3px; margin-left: 1em; padding: 2px 0.5em; line-height: 1.2em }
#int a:hover { background-color: #eee }
#int a.disabled, #int a.disabled:hover { color: #999; background-color: #ccc; cursor: not-allowed }
#int a.active, #int a.active:hover { color: #fff; background-color: #333; cursor: default }

@media screen and (max-width: 960px) { #int { font-size: 110% } }
@media screen and (max-width: 800px) { #int p { line-height: 2em } }

